name: iOS workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  run_tests:
    runs-on: macos-latest
    name: test iOS
    steps:
    - uses: actions/checkout@v3
    - name: Install Dependences
      run: |
            cd  Task
            pod install
    - name: Run unit tests
      env:
          scheme: ${{ 'default' }}
          platform: ${{ 'iOS Simulator' }}
      run: |
         xcodebuild -workspace Task.xcworkspace -scheme Task -configuration Debug -showdestinations
         xcodebuild -workspace "Task.xcworkspace" -scheme "Task" -destination 'platform=iOS Simulator,name=iPhone 12,OS=15.2' | xcpretty && exit ${PIPESTATUS[0]}
  
  build:
    name: Build with No code signing
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set Default Scheme
        run: |
          scheme_list=$(xcodebuild -list -json | tr -d "\n")
          default=$(echo $scheme_list | ruby -e "require 'json'; puts JSON.parse(STDIN.gets)['project']['targets'][0]")
          echo $default | cat >default
          echo Using default scheme: $default
      - name: Install Dependences
        run: |
            cd  Task
            pod install
      - name: Build
        env:
          scheme: ${{ 'default' }}
          platform: ${{ 'iOS Simulator' }}
        run: |
          xcodebuild -workspace Task.xcworkspace -scheme Task -configuration Debug -showdestinations
          xcodebuild -workspace "Task.xcworkspace" -scheme "Task" -destination "generic/platform=iOS" -configuration Release build CODE_SIGNING_ALLOWED=NO
